{% extends "test_app_/base.html" %}
{% block content %}
    <div>
        <h1> {{ user.username }} </h1>
        <br>
        <h2> {{ user.email }} </h2>
        <br>
        <img src="{{ user.profile.image.url }} ">
        <br>
        <form method="POST" enctype="multipart/form-data">
            {% csrf_token %}
            <fieldset class="form-group">
                <legend class="border-bottom mb-4">Update your profile here</legend>
                {{ user_form.as_p }}
                {{ prof_form.as_p }}
            </fieldset>
            <div class="form-group">
                <button class="btn btn-outline-info" type="submit">Update</button>
            </div>
        </form>
    </div>
    
{% endblock content %}

